/* Your Website Styles */
h1{
	color: white;
	font-family: 'Lato', sans-serif, bold;
	background: red;
	padding: 10px;
	margin: 75px 200px;	
	text-align: center;
}
h2{
	color: darkgrey;
	padding: 10px;
	margin: 10px 200px;
	text-align: center;
}
h3{
	color: lightgrey;
}
body{

}




/*ask clin if tere is a more economical way of doing this over using responsive formatting*/

/*	background: #000000 url("../img/1-yourself.jpg");
	background-size: cover;*/
/*	background-size: contain;*/
/*	background-position: fixed;*/


/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}
